<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= link_to 'New Task', new_task_path, class: 'nav-link btn btn-primary' %>
    </aside>
    <div class="col-sm-8">
      <%= render 'tasks/tasks', tasks: @tasks %>
    </div>
  </div>
<% else %>
  <p>未ログイン</p>
  <!-- 本来なら表示されない画面 -->
<% end %>